body {
	padding:2em;
	font : 100%/1.4 'Helvetica Neue', arial, helvetica, helve, sans-serif;
	background-repeat: repeat;
}
h1 {
	font-size:2.2em;
	padding:0 0 .5em 0;
}
h2 {
	font-size:1.8em;
}

.wrapper {
	width: 950px;
	padding: 10px;
	margin: 0 auto;
}
.title img {
	display: block;
	margin: 0 auto;
}
.read {
	text-align: center;
	font-size: 30px;
	margin-bottom: 30px;
}
.read span {
	padding: 0 60px;
	font-weight: bold;
}
.vendingmachine {
	background-color: #24090b;
	padding: 75px 0;
	border-radius: 3px;
}
.drinklist {
	margin: 0 auto;
	width: 650px;
}
.drinklist li {
	float: left;
	margin-left: 10px;
}
.drinklist li:first-child {
	margin-left: 0;
}
.drinklist img {
	vertical-align: bottom;
}
/*.button {
	width: 100px;
	height: 20px;
	background-color: #333333;
}*/
#redbull:checked {
	background-color: #fff;
}
.buttonarea {
	width: 500px;
	margin: 0 auto;
}
.resetbutton, .searchbutton {
	margin-top: 20px;
}
.searchbutton img {
	display: block;
	margin: 0 auto;
}
.grapharea {
	margin-top: 20px;
	padding: 20px;
	background: #f6d104;
}
.grapharea h2 {
	text-align: center;
	margin-bottom: 20px;
}
.chart_div {
	margin: 0 auto;
}
.drink {
	margin-top: 60px;
}
.drink-obj {
	width: 300px;
	margin-left: 100px;
}
.drink-tweet {
	width: 480px;
	height: 260px;
	overflow-y: scroll;
}
.drink-tweet-r {
	background-image: url(../img/comment_r.png);
	background-repeat: no-repeat;
}
.drink-obj {
	width: 300px;
}
.drink-tweet-l {
	background-image: url(../img/comment_l.png);
	background-repeat: no-repeat;
}
.tweet_text {
	margin: 40px;
	margin-left: 100px;
	border-bottom: 1px solid #000;
}
.fl {
	float: left;
}
.fr {
	float: right;
}